/* Temporary stylesheet borrowed from: Simile Project */
/* http://simile.mit.edu/styles/default.css */

/*
 * Written by Stefano Mazzocchi <stefanom at mit dot edu>
 */

/* SPECIAL CLASSES ADDED FOR DRAEM */

#body .character {
    font-weight: bold;
}

#body .action {
    font-style: italic;
}

#body div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#body .update-span {
    font-weight: bold;
}

#body .note {
    font-style: italic;
    padding: 10px;
    border: 1px solid #ccc;
}

#body .note-span:after {
    content: ":";
}

#body .update {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#body .update-span:after {
    content: ":";
}

#body h1 {
    line-height: 1em;
}

#prevnext {
    text-align: center;
/*    border: 1px solid lightgray; */
    width:90%;
    margin:20px;
    padding: 20px; 
    /* font-variant:small-caps; */
    font-weight: bold;
}

#prev {
    text-align: left;
}

#next {
    text-align: right;
}

#next:after {
    content: "\25B6"
}

#prev:before {
    content: "\25C0"
}

.youtube {
    text-align: center;
}

.picture {
    text-align: center;
}

blockquote footer {
    text-align: right;
    font-weight: bold;
}

blockquote footer:before {
    content: "\2014"
}

/* http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;

  /* Patches problem with original article, from comments thread. */
  /* could also do blockquote:after {content:"\201D";} */
  content:"\201C";
}
blockquote p {
  display: inline;
}

/* URL on a line by itself, indent */
/* (Don't do it to spans, for instance it would mess up the attribution footer in blockquote) */
#body div.url {
    text-align: center;
}

/* Attempt at a hanging indent and to get dialogue in the middle. */
/* http://demosthenes.info/blog/50/Classic-Typography-Effects-in-CSS-Hanging-Indent */
#body .dialogue {
    text-indent: -2em;
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 4em;
}

/* Stolen from StackOverflow's tag CSS */
#body a.post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}

#body a.post-tag:hover {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
}

/* Indent expositions unless they are in lists. */
#body div.exposition {
    text-indent: 1.5em;
}
#body li > div.exposition {
    text-indent: 0;
}

hr {
    float: left;
    width: 100%;
    height: 1px;
    color: #BBB;
    background-color: #BBB;
    border: 1px solid #BBB;
    border-bottom: 0px;
    padding:0;
}

/* ----------------------------- Global Definitions -------------------- */

body {
    margin: 0px;
    padding: 0px;
    font-family: "Proxima Nova Regular","Helvetica Neue",Calibri,"Droid Sans",Helvetica,Arial,sans-serif;
    color: #222;
    background-color: #fff;
    quotes: "\201C" "\201E" "\2018" "\2019";
    line-height: 1.5em;
    color: #333;
    font-size: 16px; /* too big? */

/*    font-family: "georgia", "times", "times new roman", serif; */
}

@media screen {
    body {
/*        background-image: url(images/stata.jpg);*/
        background-position: left bottom;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

a:link {
	color: #222;
}

a:visited {
	color: #666;
}

a:hover {
	color: #000;
}

a:active {
}

a:focus {
}

img {
	border: none;
}

/* ----------------------------- Sidebar  -------------------------- */

#sidebar {
	float: right;
	top: 150px;
	right: 0px;
	width: 220px;
	background-color: white;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 4em 4em;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#sidebar .logo {
    text-align: center;
    padding: 2em 0px 1em 0px;
    margin: 0px;
}

#sidebar h1 {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    letter-spacing: 0.15em;
    font-size: 24px;
    color: #333;
    font-weight: normal;
    text-align: center;
    padding: 5px;
}

#sidebar h2 {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding: 2px 0px 2px 4px;
    margin: 5px 0px 5px 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-color: #ccc;
    color: #666;
}

#sidebar p {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 5px;
}

#sidebar ul {
    margin: 5px 5px 15px 5px;
    padding-left: 25px;
}

#sidebar li {
    margin-left: 0px;
    font-family: "verdana", "helvetica", "arial", sans-serif;
    font-size: 10px;
}

#sidebar .important li {
    font-weight: bold;
}

#sidebar .verbose li {
    padding: 1px 0px 1px 0px;
}

#sidebar li.current {
	font-weight: bold;
}

#sidebar .news {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    font-size: 90%;
    border-top: 1px solid #ccc;
    text-align: left;
    padding: 1em 1em 1em 4em;
}

#sidebar .prominent {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    text-align: center;
    padding: 1em;
    padding-top: 0px;
}

#sidebar .new {
    color: #ee0000;
    font-size: smaller;
    vertical-align: baseline;
    position: relative;
    bottom: 0.33em;
}

/* ----------------------------- Path ---------------------------- */

#path {
    color: #333;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 2px 8px 2px 4px;
    margin: 0px;
}

#path li {
    display: inline;
    padding-left: 13px;
    padding-right: 3px;
    background-image: url(images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 1px 5px;
}

#path span {
    font-weight: bold;
}

/* ----------------------------- Body ---------------------------- */

#body {
    padding: 10px 10px 10px 10px;
    margin: 0px 20px 10px 20px;
}

#body h1,h2,h3,h4 {
    color: #666;
}

#body h1 {
    border-top: 1px solid #ccc;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 3px 8px 3px 12px;
    margin: 15px -30px 35px -30px;
}

#body h2 {
    border-bottom: 1px solid #ccc;
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

#body .steps li {
    padding: 5px;
}

/* 

#body .note {
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #eee;
}

#body .note:before {
    content: "Note: ";
    font-weight: bold;
}
*/

#body .figure {
    text-align: center;
}

#body .figure img {
    border: 1px solid #ccc;
}

#body pre {
    padding: 10px;
    border: 1px solid #ccc;
}

/*
#body pre {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
}
*/

#body .screenshot {
    text-align: center;
}

#body .notice {
    margin: 15px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
}

#body .notice:before {
    content: "Notice: ";
    font-weight: bold;
}

#body dl dt {
    font-weight: bold;
    padding: 5px;
}

#body p.important { 
	margin: 40px 0px 40px 0px; 
	text-align: center; 
	font-size: 130%; 
	font-weight: bold; 
}

#body #slideshow {
    border: 1px solid #ccc;
    background-position: top left;
    background-repeat: repeat-x;
    margin-left: 30px;
    margin-right: 250px;
    height: 14em;
}

#body #slideshow .item {
    display: none;
    margin: 10px;
}

#body #slideshow .item .icon {
    margin: 10px;
    float: right;
}

#body #slideshow .item .title {
    margin: 10px;
    font-size: 300%;
    font-weight: bold;
    font-family: "verdana", "helvetica", "arial", sans-serif;
}

#body #slideshow .item .description {
    margin: 10px;
    font-size: 130%;
    height: 8em;
}

#body #slideshow .item .logo img {
    border: 1px solid #ccc;
}

    
/* ----------------------------- Footer ---------------------------- */

#footer {
    margin: 0px 0px 5em 0px;
    padding: 2px 5px 2px 10px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    font-family: "verdana", "helvetica", "arial", sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 10px;
    text-align: right;
    background: white;
}

#footer img {
    margin: 5px 10px 5px 10px;
}
