/*
 * Kept simple to focus on getting the
 * content in order as valid HTML5 that search engines will like, as well
 * as to focus on the main Draem dialecting concerns.
 *
 * Hoped transition to use the CSSR dialect and look less boring overall:
 *
 *     http://recode.revault.org/wiki/CSSR
 */


/*  -----------------------------------------------------------------------
    <BODY> element and surrogate <DIV>

    Not knowing what better to do, I leverage a centering trick from:

    http://stackoverflow.com/a/14776179/211160

    This separates what the page thinks of as the "body" into a DIV with
    an ID of "body-div".  That div has a maximum width, and as for why
    to do that...empirically if you fill the whole width it looks ugly
    on large monitors.  I don't know "the answer" but there's various
    rationale for why not to just fill the browser space, and pretty
    much every professional page on the internet limits it in some way.

    https://jdm-digital.com/2012/11/why-max-width-960/
    
    Not setting a min-width has the advantage of reflowing to whatever a
    device supports, up to that (arbitrary-seeming) maximum.  But it has the
    unfortunate side effect that if there isn't enough content to require a
    reflow, page sizes may jump around if no content gets up the length.

    A workaround is just to throw enough content on each page to hope it
    causes the browser to reason to a consistent width across pages.  A
    long sentence of legalese at the very bottom of the page can do it.
    -----------------------------------------------------------------------  */

/*
 * Centering
 */
 
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

#body-div {
    max-width: 960px;
}


/*
 * Font smoothing, grabbed from Slate.com
 */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/*
 * Background color/texture.
 */

body {
    background-color: #BBB;
}

/*
@media screen {
    body {
        background-image: url(/media/no-background-texture-currently.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}
*/



/*  -----------------------------------------------------------------------
    GLOBAL DEFINITIONS

    Probably better to use a more generalized CSS reset
    -----------------------------------------------------------------------  */

a:link {
    color: #222;
}

a:visited {
    color: #666;
}

a:hover {
    color: #000;
}

a:active {
}

a:focus {
}

img {
    border: none;
}

/* Make all the headings stand out with a sans-serif font */
#body-div h1, #body-div h2, #body-div h3, #body-div h4, #body-div h5 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}



/*  ------------------------------------------------------------------------
    PAGE CONTAINER STRUCTURE

    The original baseline page container structure came from the fact
    that I was experimenting with a timeline, and there was CSS for that
    which was "good enough" at that moment to use for all the pages.  That
    CSS came from Simile by by Stefano Mazzocchi

        http://simile.mit.edu/styles/default.css

    Though it served well at the time, most of it has been deleted or
    replaced now, except for the navigation header and basic color scheme
    -----------------------------------------------------------------------  */

/*
 * "MAIN" DIV
 *
 * The main div currently collects all the content that's not in the
 * "PROLOGUE" or "EPILOGUE" areas of the surrogate BODY-DIV.  
 */
#main {

    /* Use customized quotation mark symbols that are "curlier" */
    quotes: "\201C" "\201E" "\2018" "\2019";

    /* Was extremely dark grey that's not-quite-black on a white background,
     * trying darker value...
     */
    /* color: #333; */
    color: #070707;

    background-color: #FFF;

    /*
     * There's no one-size-fits-all answer to how to format the fonts and
     * basic text size on a website.  I keep going back and forth on whether
     * I think serifs are more or less readable.  And the spacing is a big
     * one, there are some relatively convincing arguments made here:
     * 
     * ...but I don't know that is a good fit for what I am doing.  Time will
     * tell, though mostly I just want to make it easy for archiving, searching
     * etc.  Helpful link in any case:
     *
     *    http://cssfontstack.com/
     */

    /* font-size: 16px; */
    font-size: 18px;
    /* font-family: Georgia, serif; */
    font-family: "Proxima Nova Regular","Helvetica Neue",Calibri,"Droid Sans",Helvetica,Arial,sans-serif;
    line-height: 1.5em;

    /*
     * The body div extends its margins right up against the <body> element's
     * background, but pads a bit in order to give the text a bit of breathing
     * room on the left and right.  (This padding must be undone with negative
     * margins by anything wanting to stretch to the edge and "undo the white"
     * and there may be a better way to express this so that a page may be
     * broken into sections.)
     */
    padding-left: 32px;
    padding-right: 32px;
}

/*
 * Bulleted lists look obnoxiously uncentered if you don't make a margin
 * on the right that compensates for the indentation caused by the bullet.
 * TODO: research best way to get this compensation.
 */
#main ul {
    margin-right: 3em;
}

/*
 * The default for all divs in the article is a vertical margin (10px) to
 * keep a collapsible-yet-healthy distance between things.  This value must
 * be compensated for by a padding in main to prevent the margin pushing
 * outside and making a "gap"!
 */
#main div {
    margin-top: 10px;
    margin-bottom: 10px;
}
#main {
    padding-top: 10px; 
    padding-bottom: 10px;
}


/*
 * PATH
 * 
 * This provides a navigation list of "where you are" so you can backtrack
 * in the hierarchy.  Draem ceased having a hierarchy or category system,
 * instead adopting the notion that the category comes from the "most popular
 * tag on the post".  In any case, this is the little bar at the top.
 */

#path {
    color: #333;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    margin: 0px;
}

#path li {
    display: inline;
    padding-left: 13px;
    padding-right: 3px;
    background-image: url(images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 1px 5px;
}


/*
 * PAGE TITLE
 * 
 * The page title is done with an H1, and I'm not sure what the value of in
 * this day and age is of using that instead of a custom class.  Getting the
 * title to align to the bottom is annoying at first I tried using absolute
 * and relative div positioning:
 *
 *     http://stackoverflow.com/questions/7420324/
 *
 * But that doesn't work if you want to determine the height of the outer
 * div based on the child content.  More ingenious design from the people who
 * brought you HTML/CSS/JavaScript.  <sigh>  The only way to do it is with...
 * tables (reincarnated with display: table; "but it's not bad if it's CSS"
 *
 *     http://stackoverflow.com/a/16360114/211160
 */

#title {
    display: table;
}

#title h1 {
    display: table-cell;
    vertical-align: bottom;
}

/* now back to your regularly scheduled CSS... */

#title h1 {
    line-height: 1em;
    color: #F8F8F8;

    /*
     * Don't cover the logo, although on small displays like a vertical cell
     * phone this gives very little room for the title!
     */
    padding-right: 80px;
    padding-left: 8px;
    padding-bottom: 8px;
}

#title {
    min-height: 75px;
    background-image: url(http://hostilefork.com/media/peeking-fork-80x75.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}


/*
 * PREVIOUS AND NEXT POST BUTTONS
 */

#prevnext {
    text-align: center;
    width:90%;
    margin:20px;
    padding: 20px; 
    font-weight: bold;
}

#prev {
    text-align: left;
}

#next {
    text-align: right;
}

#next:after {
    content: "\25B6"
}

#prev:before {
    content: "\25C0"
}



/*  ------------------------------------------------------------------------
    STYLES FOR DRAEM DIALECT CONTENT PRODUCED BY "HTMLIFY"
    -----------------------------------------------------------------------  */

/*
 * "EXPOSITION"
 * 
 * Default class for just random writing in a post (such as if you just put
 * a string literal containing markdown in as a paragraph).  Originally
 * indented if not in lists but I decided the indentation was distracting.
 */

/*
#body-div div.exposition {
    text-indent: 1.5em;
}

#body-div li > div.exposition {
    text-indent: 0;
}
*/


/*
 * DIALOGUE
 */

#body-div .character {
    font-weight: bold;
}

#body-div .action {
    /* font-style: italic; */
    color: #666;
}

/* Attempt at a hanging indent and to get dialogue in the middle. */
/* http://demosthenes.info/blog/50/Classic-Typography-Effects-in-CSS-Hanging-Indent */
#body-div .dialogue {
    text-indent: -32px;
    margin-left: 48px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 32px;
    color: #282828;
}


/*
 * NOTE and UPDATE
 *
 * Whether notes should theme as a sticky-note yellow style, a blue info-box,
 * or otherwise is a matter of aesthetics.  "Good enough" for now is sticky
 * note yellow.  Used to be italic but seems better to make it a smaller
 * and different font instead. 
 */

#body-div .note, #body-div .update {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 24px;
    padding-right: 24px;
    background: #ffffc0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Georgia, serif;
    color: #333;
    font-size: 16px;

    /* http://css-tricks.com/the-css-overflow-property/ */ 
    overflow: hidden;
}

/* Found the bold annoying on ordinary notes.  Try italics? */
#body-div .update-span {
    font-style: italic;
}

#body-div .note-span:after {
    content: ":";
}

#body-div .update-span {
    font-weight: bold;
}

#body-div .update-span:after {
    content: ":";
}


/*
 * HEADING
 *
 * Currently only one level of heading is supported, but this may be expanded
 * in the dialect later.  I chose h3 when I first made it because that's what
 * I had been using in WordPress.  Perhaps the logic should be that the page
 * title not be using h1 but rather a class, and then the headings use the
 * html elements?  The philosophy of H# elements eludes me...
 */

#body-div h3 {
    color: #666;
    font-size: 1.4em;
    border-top: 2px dotted #ccc;
    padding-top: 16px;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
}


/*
 * YOUTUBE
 */

#body-div .youtube {
    text-align: center;
}


/*
 * PICTURE
 */

#body-div .picture {
    text-align: center;
}


/*
 * QUOTE
 */

blockquote footer {
    text-align: right;
    font-weight: bold;
}

blockquote footer:before {
    content: "\2014"
}

/* http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;

  /* Patches problem with original article, from comments thread. */
  /* could also do blockquote:after {content:"\201D";} */
  content:"\201C";
}

blockquote p {
  display: inline;
}


/*
 * URL
 * 
 * Put on a line by itself, indent.  (Don't do this to spans, for instance it
 * would mess up the attribution footer in blockquote.)  Also do not do it
 * if the URL is directly under a bullet in a list... because the list
 * entries would be centered differently based on length.  (Is there a
 * generalization of such a solution?)
 */

#body-div div.url {
    text-align: center;
}

#body-div li > div.url {
    text-align: left;
}


/*
 * CODE AND TEXT
 *
 * Currently the code formatting and syntax-highlighting is done by client-side
 * scripting with Google Code Prettify, and the CSS in that.  These override
 * those settings.
 */

#body-div pre {
    padding: 10px;
    border: none;
    white-space: pre-wrap;
    background: #f7f7f7;
    font-size: 14px;
}


/*
 * DIVIDER
 */

hr {
    float: left;
    width: 100%;
    height: 1px;
    color: #BBB;
    background-color: #BBB;
    border: 1px solid #BBB;
    border-bottom: 0px;
    padding:0;
}



/*  ------------------------------------------------------------------------
    TAG HANDLING

    Stolen from the simplest case of tags for StackExchange (so no special
    tag colors or icons).  Should probably do something more creative,
    but I'm used to it.   
    -----------------------------------------------------------------------  */

#body-div a.post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}

#body-div a.post-tag:hover {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
}
