{% extends "entry.html" %}

{% block keywords %}about{% endblock keywords %}

{% block description %}Author: A.E. 1020, Category: about, Title: About, date: 1-Jan-1998, Length: 1438 words{% endblock description %}

{% block title %}about : About{% endblock title %}

{% block header %}About{% endblock header %}

{% block path %}
<li>
			<a href="http://realityhandbook.org" title="Home">Home</a>
		</li>
<li><a href="http://realityhandbook.org/category/about/">about</a></li><li><span>About</span></li>

{% endblock path %}

{% block date %}
1-Jan-1998/10:20+3:00
{% endblock date %}

{% block tags %}
(none)
{% endblock tags %}

{% block characters %}
<a href="http://realityhandbook.org/character/asian-man/">asian man</a>, <a href="http://realityhandbook.org/character/manager/">manager</a>, <a href="http://realityhandbook.org/character/man/">man</a>, <a href="http://realityhandbook.org/character/couple/">couple</a>, <a href="http://realityhandbook.org/character/dave-foley/">dave foley</a>, <a href="http://realityhandbook.org/character/guide/">guide</a>
{% endblock characters %}

{% block content %}
<p><h3><a name="welcome">Welcome!</a></h3></p>
<p>This site is mostly about my dreaming life. I consistently become aware that I'm dreaming while still asleep, having nearly the full presence of mind I have while awake. I write down some of the conversations and experiments that I perform in this state&mdash;and there are literally <a href="http://realityhandbook.org/category/lucid-dream/">hundreds of these logs</a> here!</p>
<p><i>(Note: Since that's a daunting amount of material, I've excerpted some <a href="#examples">examples</a> below. If you wish, you can instead jump straight to the index of <a href="http://realityhandbook.org/">recent posts</a>, or <a href="http://realityhandbook.org/tag/">browse by a growing selection of tags</a>. There are also <a href="http://realityhandbook.org/category/open-letter/">open letters</a>, <a href="http://realityhandbook.org/category/essay/">essays</a>, and other writing stored on this site.)</i></p>
<p><h3><a name="really">"Wow...really?"</a></h3></p>
<p>Yes, really! In scientific parlance, what I do is called <a href="http://en.wikipedia.org/wiki/Lucid_dreaming" target="_blank">lucid dreaming</a>. Enough people have done it "on command" in laboratories that it has been proven to be possible. If you are interested in the peer-reviewed experiments where sleeping people have demonstrated this ability to scientists, you should read up on the very interesting work of <a href="http://en.wikipedia.org/wiki/Stephen_LaBerge" target="_blank">Dr. Stephen LaBerge</a> at Stanford University.</p>
<p>Let me be abundantly clear: I don't do drugs, and this is not a joke project for a sci-fi writer. I am a software developer and a devout supporter of critical thinking. My documentation here is for science, and the accounts are here to be studied as data. (Since we can't yet video-record the dreamworld the reports are naturally going to be a bit fuzzy. I've tried to be as accurate as possible while adopting a readable script-like format.)</p>
<p><h3><a name="noteworthy">"So why are you noteworthy?"</a></h3></p>
<p>Given that I just pointed out that lucid dreaming is a 'known' phenomenon, you might ask what the big deal is. Here are the points as I see it:</p>
<p><ul><li>My emphasis is not on bending the dream-world to my will. Instead I try to interview the characters I meet, and carefully filter preconceptions which might influence what I "hear". The things they "say" aren't always nice&mdash;but are far more surprising, original, and coherent than most lucid dreamers report.</li></p>
<p><li>I'm often able to accurately relate facts while asleep; this includes the current date, recent news events, or where my body is sleeping. When I find an Internet terminal I'll deliberately try searches on myself or other topics, while fully aware that it is the "dream-Internet".</li></p>
<p><li>I did not intentionally pursue lucid dreaming, nor do I use any machines to try to induce them. They involuntarily happen several times a night, and can last for several minutes or longer. I document them when they are particularly interesting and my schedule permits it.</li></p>
<p><li>There are absolutely no "self-help" books or "psychic services" that I have to sell. To keep things on the up-and-up I'm never going to advertise on this site either.</li></ul></p>
<p>I am eager to engage any sleep-research lab that wants to study me. I believe that atypical individuals can serve as linchpins in the understanding of our minds and our reality (such as <a href="http://realityhandbook.org/open-letter/daniel-tammet/" target="_blank">Daniel Tammet</a>). I also hold some hope that search engines and archiving will give us tools that history did not have in understanding if these dreams are actually a form of communication through an as-yet-unknown mechanism.</p>
<p><h3><a name="examples">Examples</a></h3></p>
<p><b>I am often in scenarios as if I'm being revived from cryonics or being simulated, as in <a href="http://realityhandbook.org/lucid-dream/sour-grapes-of-the-future/" target="_blank">Sour Grapes of the Future</a>...</b></p>
<p>He handed me something in a bowl, and began to speak:</p>
<p><b>asian man</b>: "There is something you need to understand about showing people <i>Future Things</i>. You have to be careful. It's a lot like if you are dealing with someone who has never had a grape before. When you give them their first grape you must be 100% sure it's not a sour one...because if it is sour, then every time they're asked if they want a grape after that they will say no."</p>
<p><b>Whenever I can, I try my best to see if there is knowledge to be brought back which could be useful to science, like in <a href="http://realityhandbook.org/lucid-dream/the-facet-logic-of-linear-time/" target="_blank">The Facet Logic of Linear Time</a>. I try to establish how I got to a place and who the people think I am, and then if they tell me something that I don't understand I just keep asking...</b></p>
<p>Because I got the impression that he was smart, I decided to abandon my quest to go elsewhere and just talk to him.</p>
<p>His accent got heavier, and he paused.</p>
<p><b>manager</b>: "The 'physics'?"</p>
<p><b>Indeed, the science of the dream world can be frustrating to have explained, such as when I was trying to figure out how audio was being produced in <a href="http://realityhandbook.org/lucid-dream/my-claymation-audiopad-lesson/" target="_blank">My Claymation Audiopad Lesson</a>...</b></p>
<p>He paused to choose his answer carefully.</p>
<p><b>man</b>: "In our expanding minds."</p>
<p><b>Generally I have a lot of Matrix-type experiences suggesting Earth is a technology-based or "game". But at some points, I also run into a lot of more typically 'religious' or 'spiritual' answers to some of my questions, as in <a href="http://realityhandbook.org/lucid-dream/extended-visit-to-the-ether/" target="_blank">Extended Visit to the Ether</a>...</b></p>
<p>Suddenly a copy of a Dave Gahan album titled <i>Overconfident</i> appeared on the bed. No such album exists AFAIK.</p>
<p><b>couple</b>: "Yes."</p>
<p><b>Sometimes when I ask questions, issues of the legality of contact are brought up. One of my most memorable examples of that was when I was talking to some people who looked like the sketch comedy group <a href="http://realityhandbook.org/lucid-dream/kids-in-the-hall/">Kids in the Hall</a>...</b></p>
<p>I looked Dave straight in the eye.</p>
<p>Dave Foley's face was now very strange, with black eyes and a hat, and deformed a bit like Freddy Krueger, though less scary. My staring proceeded.</p>
<p>He lowered his voice and whispered.</p>
<p><b>dave foley</b>: "...and there actually are some lawsuits going on right now."</p>
<p><b>Impersonation and the idea of using celebrity identities come up often. So just as there is a LiveJounal for <a href="http://jesus.livejournal.com/profile/">Jesus</a>, I take any appearance of a famous person with a definite grain of salt. Here someone was impersonating the author of Harry Potter in <a href="http://realityhandbook.org/lucid-dream/psychokinetic-potential-of-1-in-15/" target="_blank">Psychokinetic Potential of 1 in 15</a>...</b></p>
<p>I smiled back but tried to keep pace with the guide. He stopped at a closet and gathered some items, it said "J.K. Rowling" on the door.</p>
<p><b>guide</b>: (shrugging) "You should re-evaluate the question of if there's any such thing as truth or not. I'd argue that truth is more about knowing what makes a 'good' lie, and what makes a 'bad' one."</p>
<p><h3><a name="interpretation">Interpretation</a></h3></p>
<p>If I were to take a solipsistic perspective, I could say that these entities with which I am speaking are all generated by my brain with no minds of their own. I do not feel that way&mdash;at least, not any more than everyone I meet while I am awake is a figment of my imagination! :P</p>
<p>My feeling on this matter differs from the one expressed by laboratory-validated lucid dreamer Alan Worsley. After a lifetime of working with lucid dreams he concluded <i>"I believe that the virtual characters in dreams have no minds of their own."</i> Though I deferred to the experience of trained researchers like him around the time of <a href="http://realityhandbook.org/lucid-dream/my-first-lucid-dream/" target="_blank">my first lucid dream</a> over ten years ago, I have concluded that it is simply not useful to model <em>everything</em> that goes on in my dreams as being less real than the waking world.</p>
<p>Despite that philosophical issue, I acknowledge that our mind is indeed able to build complex projections onto inanimate objects. Tom Hanks projected a personality onto Wilson the Volleyball in <i>Cast Away</i>, and I don't think that's too far off from what can happen...it's certainly more likely in dreams. But if we aren't going to be solipsistic about everything, we have to measure for signs of "otherness". I've decided it's there in my dreams, but you'll just have to draw your own conclusions from the body of data I've written down.</p>
<p><h3><a name="favorites">Favorites</a></h3></p>
<p>Here are a few dreams I like to start people out with:</p>
<p><ul><li><a href="http://realityhandbook.org/lucid-dream/the-interview-hero/" target="_blank">The Interview Hero</a></li></p>
<p><li><a href="http://realityhandbook.org/lucid-dream/bad-typography-in-the-perfect-matrix-future/" target="_blank">Even in the Perfect Matrix Future, there's Bad Typography</a></li></p>
<p><li><a href="http://realityhandbook.org/lucid-dream/virtual-reality-in-amazing-hd/" target="_blank">Virtual Reality in HD</a></li></p>
<p><li><a href="http://realityhandbook.org/lucid-dream/the-saladian-days/" target="_blank">Saladian Lives</a></li></p>
<p><li><a href="http://realityhandbook.org/lucid-dream/zero-pole-magnets/" target="_blank">Zero-Pole Magnets</a></li></p>
<p><li><a href="http://realityhandbook.org/lucid-dream/amateur-surrealists/" target="_blank">Earth Scientists as Amateur Surrealists</a></li></ul></p>
<p><h3><a name="outreach">Outreach</a></h3></p>
<p>Though my focus has been trying to bring back some kind of alien gift or solution to an unsolved problem, it hasn't happened just yet. So on various occasions I've tried <a href="http://realityhandbook.org/category/open-letter/" target="_blank">some internet outreach</a> to this world. Interest has been surprisingly limited&mdash;but I think a large part of that comes to what a comedian I saw said: "Nothing's more boring than to hear about someone else's dream...unless you're in it." :) However, I hope you enjoy the journal and please don't hesitate to <a href="http://realityhandbook.org/contact/">contact</a> me about the material.</p>
<p><i>(Note: If you found this site because you are new to lucid dreaming, <b>PLEASE</b> read my <a href="http://realityhandbook.org/essay/warning-about-altered-state-experiences-and-literature/">warnings about "New-Age" and "Alternative" literature</a>. Although experiences like mine (and perhaps yours) challenge existing dogma about dreams, the solution is not to abandon critical thinking!)</i></p>

{% endblock content %}

