<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<meta name="google-site-verification" content="eoQP3nJ2qyDceZYAYN6-XaF24JZ2DVrzC6penYi8Rnc" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<!--
{# This is a django-templated HTML file #}
{# http://docs.djangoproject.com/en/dev/topics/templates/#topics-templates #}

	Greets to Cerul, SkyNet, and the rest of my peeps :P

{% comment %}

{% endcomment %}
-->
{% block meta %}
		<meta name="keywords" content="{% block keywords %}lucid dreaming, astral projection, matrix{% endblock keywords %}" />
		<meta name="description" content="{% block description %}{% endblock description %}" />
{% endblock meta %}

		<title>{% block title %}MISSING TITLE BLOCK{% endblock title %}</title>

	<!-- Django allows us to pass parameters into our templates, good to have as javascript vars -->
	<!-- http://lethain.com/entry/2008/sep/21/intro-to-unintrusive-javascript-with-django/ -->
	<script>
{% block params-javascript %}
		PARAMS = {};
		PARAMS.libs_url = "{{ LIBS_URL }}"; 
{% endblock params-javascript %}
	</script>

{% block css %}
{% endblock css %}


{% block scripts %}
{% endblock scripts %}

	
	</head>
<body {% block bodymethods %}{% endblock bodymethods %}>

	<div id="body-div">
		<div id="prologue">
			{% block prologue %}
			{# missing prologue is acceptable #}
			{% endblock prologue %}
		</div>

		<div id="title">
			<h1>{% block header %}{% endblock header %}</h1>
		</div>

		<div id="leader">
			<ul id="path">
				{% block path %}
					<p>MISSING PATH BLOCK</p>
				{% endblock path %}
			</ul>
		</div>
		
		<div id="main">			
			{% block main %}
				<p>MISSING MAIN BLOCK</p>
			{% endblock main %}

			{% block footer %}
			{# missing footer is acceptable #}
			{% endblock footer %}
		</div>

		<div id="trailer">
			{% block trailer %}
			{# missing trailer is acceptable #}
			{% endblock trailer %}
		</div>

		<div id="epilogue">
			{% block epilogue %}
			{# missing epilogue is acceptable #}
			{% endblock epilogue %}
		</div>

	</div>


<!-- This is the Google Universal Analytics Code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{% block ga_id %}!!!ERROR-google-analytics-tracking-id-MISSING!!!{% endblock ga_id %}', '{% block ga_property %}!!!ERROR-google-analytics-property-MMISSING!!!{% endblock ga_property %}');
  ga('send', 'pageview');

</script>


</body>
</html>
