{% extends "base.html" %}

{% block keywords %}contact{% endblock keywords %}

{% block description %}Author: A.E. 1020, Category: about, Title: About, Date: Jan 1 1998 10:20 GMT+3:00, Length: 2166 words{% endblock description %}

{% block title %}about : Contact{% endblock title %}

{% block header %}Contact the Dreamer Behind this Site{% endblock header %}

{% block path %}
<li>
                        <a href="http://realityhandbook.org" title="Home">Home</a>
                </li>
<li><span>Contact Me</span></li>

{% endblock path %}

{% block main %}
<div id="entry-content">
{% block content %}
<p>The internet is a funny place.  Communications constantly disrupted by hackers, network failures, viruses.  The simple inclusion of a word that an email filter doesn't like can mean a message you send won't be delivered.  Sadly, we're all so self-doubting that if we get no response, we usually assume the person just didn't want to talk to us!  :(</p>

<p><i><b>But I want to talk to you!!</b></i>  And if I don't want to, I'll tell you why, and give you a good reason...</p>

<p>For starters, you can try picking this site's name (minus the org) and send email using that service that Google offers.  If that doesn't work, improvise!  As far as I know I'm a real person and there's more than one way to find me, at least until I'm dead.</p>

<p>Worst case scenario if you don't hear back: Make your own blog and talk about my site and things in it.  I'll see if I can find it and contact <i>you</i>, as per the famous <a href="http://en.wikipedia.org/wiki/Kibo_(Usenet)">Kibo</a>!  :)</p>
{% endblock content %}
</div>
{% endblock main %}
