{% extends "base.html" %}

{% block title %}
realityhandbook.org - Official Homepage of a Skilled Lucid Dreamer
{% endblock title %}

{% block header %}
Extraordinary Lucid Dream Reports
{% endblock header %}
	
{% block path %}
<li><span>realityhandbook.org</span></li>
{% endblock path %}

{% block main %}
{{ block.super }}

<hr>

<p>In addition to the master list below, you can browse the entries by <a href="{% url draems.views.tag_list %}">tag</a> or by <a href="{% url draems.views.category_list %}">category</a>.  Two early experimental features I've added are browsing by <a href="{% url draems.views.character_list %}">character</a> or with a <a href="{% url draems.views.timeline %}">timeline</a>.  I appreciate your feedback or suggestions, so do not hesitate to <a href="http://realityhandbook.org/contact/">contact me</a>!</p>

{% block entries %}
{% endblock entries %}

{% endblock main %}

{% block footer %}
{{ block.super }}
<center><img src="/media/1020ae0304.png" alt="It will be already always was."></center>
{% endblock footer %}
