{% extends "base.html" %}

{% block main %}
<div id="entry-date"><p><b>Date:</b> <span>
{% block date %}
{% endblock date %}
</span></p></div>

<div id="entry-tags"><p><b>Tags:</b> <span>
{% block tags %}
{% endblock tags %}
</span></p></div>

<div id="entry-characters"><p><b>Characters:</b> <span>
{% block characters %}
{% endblock characters %}
</span></p></div>

<div id="entry-content">
{% block content %}
        Content
{% endblock content %}
</div>


<div id="prevnext">
<div id="prev"><a href="{% block prevurl %}no link{% endblock prevurl %}" title="Previous">{% block prevtitle %}NO PREVIOUS{% endblock prevtitle %}</a></div>
<div id="next"><a href="{% block nexturl %}no link{% endblock nexturl %}" title="Next">{% block nexttitle %}NO NEXT{% endblock nexttitle %}</a></div>
</div>
{% endblock main %}
